body {
  overflow: hidden;
}

.App {
  text-align: center;
  height: 100vh;
  background-color: #0a192f;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.sections {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
}

section {
  scroll-snap-align: start;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}